<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @category.title %>
</p>

<p>
  <b>Body:</b>
  <%= @category.body %>
</p>

<%= link_to 'Edit', edit_category_path(@category) if signed_in? %> |
<%= link_to 'Back', categories_path %>
