<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:
      </h2>
      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="span6 offset2">
    <% categories_array = @category_array.collect { |category| [category.title, category.id] } %>
    <%= f.select(:category_id, options_for_select(categories_array, @image.category_id)) %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= image_tag @image.data.url(:thumb), class: "img-rounded" if @image.data_present?%>
    <%= f.label :image_url %>
    <%= f.file_field :data %>

    <%= f.submit "Готово", class: "btn btn-large btn-primary" %>
  </div>
</div>
<% end %>
