<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @image.data.url %>
</p>

<p>
  <b>Title: <%= @image.category_id.inspect%></b>
  <%= @image.title %>
</p>

<p>
  <b>Description:</b>
  <%= @image.description %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
