<p id="notice"><%= notice %></p><!-- -->

<p>
  <%= image_tag @image.data.url:medium, class: "img-rounded" %>
</p>

<p>
  <b>Title:</b>
  <%= @image.title %>
</p>

<p>
  <b>Description:</b>
  <%= @image.description %>
</p>

<%= link_to 'Edit', edit_image_path(@image) if signed_in?%> |
<%= link_to 'Back', images_path %>
